*.log
*_log
__pycache__
*/__pycache__
*/__pycache__/*
wandb
trainer_start
LLM-Finetuning/
*_output/
*outputs/
unsloth_compiled_cache/
saved_models/
hf_cache/
unsloth_training_checkpoints/
*.jsonl
.venv
.deepeval
*logs
activate
mlruns