compute_environment: LOCAL_MACHINE
debug: true
distributed_type: DEEPSPEED
dynamo_backend: YES
use_cpu: false
downcast_bf16: 'no'
enable_cpu_affinity: false
num_processes: 2
num_machines: 1
machine_rank: 0
gpu_ids: all

same_network: true
rdzv_backend: static
main_process_ip: null
main_process_port: 29500
main_training_function: main

deepspeed_config:
  deepspeed_config_file: /home/conan/workspace/llm_training/spectra_sft/config/deepspeed_zero3.json
  deepspeed_moe_layer_cls_names: SPECTRAMLP,SPECTRAExpert,SPECTRAVisionModel
  zero3_init_flag: false

parallelism_config:
  tp_size: 2
  sp_size: 1
  dp_shard_size: 1
